:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey: #929292;
    --red: #D23223;
    --light--grey: #E7E7E7;
    --border--radius: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    line-height: 1.5;
    font-family: e-ukraine;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    position: relative
}

html,
body {
    height: 100%
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%
}

input,
button,
textarea,
select {
    font: inherit
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word
}

main {
    min-height: 70vh
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center
}

.site__container {
    margin: 0 auto;
    width: 100%;
    max-width: calc( 1272px + 24px);
    padding-left: 12px;
    padding-right: 12px
}

.site__row {
    margin-left: -12px;
    margin-right: -12px
}

.widget__grid {
    display: flex;
    justify-content: space-between
}

.widget__grid.oriented-left .left {
    order: 1
}

.widget__grid.oriented-left .right {
    order: 2
}

.widget__grid.oriented-right .left {
    order: 2
}

.widget__grid.oriented-right .right {
    order: 1
}

.oriented-left .left .flexible--container {
    margin-bottom: 16px
}

.oriented-right .left .flexible--container {
    margin-bottom: 16px
}

.widget__grid--side {
    width: 50%;
    padding: 0 12px 0
}

.widget__grid--side--content {
    width: 100%;
    height: 100%
}

.widget__grid--side--content a {
    text-decoration: none
}

.languge--switcher .langs--list {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    list-style: none;
    margin: 0
}

.languge--switcher.mobile .langs--list {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
    margin: 0
}

.languge--switcher.mobile {
    margin-bottom: 16px
}

.languge--switcher.mobile .langs--list li {
    margin-left: 0 !important;
    margin-right: 20px !important
}

.languge--switcher .langs--list li {
    margin-left: 20px
}

.languge--switcher .langs--list li:first-child {
    margin-left: 0
}

.widget__grid--side--content.post__container h3 {
    font-family: 'e-ukraine head - medium';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: var(--black);
    margin-bottom: 16px
}

.widget__grid--side h3 {
    margin-bottom: 16px
}

.widget__grid--side--content.post__container {
    margin-bottom: 0
}

.widget__grid--side--content li {
    padding-bottom: 0 !important
}

.site__separation {
    width: 100%;
    height: 1px;
    background: var(--light--grey)
}

.site__logo {
    width: 150.86px
}

.site__header {
    width: 100%;
    border-bottom: 1px solid var(--light--grey);
    position: fixed;
    background: var(--white);
    height: 82px;
    z-index: 995
}

.site__header .top {
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative
}

.site__header .top {
    padding-left: 24px;
    height: 80px
}

.site__header .site__container {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    height: 100%
}

.site__header .bottom .search--toogler--btn {
    position: absolute;
    right: 0;
    top: 0
}

.search--toogler--btn.mobile {
    display: none
}

.site__header .bottom {
    padding-bottom: 16px
}

#navbar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-left: 56px;
    padding-right: 56px;
    position: relative;
    min-height: 24px
}

#teleporter {
    height: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0
}

#teleporter li,
#receiver li {
    float: left;
    padding: 0 16px;
    box-sizing: border-box;
    list-style: none
}

#receiver.collapse__menu--list li {
    margin-bottom: 12px !important
}

#receiver.collapse__menu--list li:last-child {
    margin-bottom: 0 !important
}

#hero {
    padding-bottom: 32px
}

.hero-item {
    padding: 12px
}

.hero-item.sm {
    width: 25%
}

.hero-item.xl {
    width: 50%
}

.hero-item__widget {
    width: 100%;
    background: var(--white)
}

.hero-item__widget h2.section__title {
    margin-bottom: 18px
}

.hero-item.hero-2 .separator {
    display: none
}

.hero-item.hero-1 .separator {
    display: none
}

.hero-item.hero-3 .separator {
    display: none
}

.collapse__menu--widget {
    position: relative
}

.collapse__menu--btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: 0 0;
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    color: var(--black)
}

.collapse__menu--btn:hover {
    color: var(--red)
}

.collapse__menu--btn.active {
    color: var(--red)
}

.collapse__menu--list {
    background: var(--white);
    box-shadow: 0 8px 20px rgba(0, 0, 0, .16);
    display: none;
    padding: 16px 20px;
    min-width: 187px;
    top: 40px;
    list-style: none;
    margin: 0;
    position: absolute;
    z-index: 1;
    right: 0
}

.collapse__menu--list li {
    padding: 6px;
    margin: 0 !important
}

.collapse__menu--list li a {
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--black)
}

.site__footer {
    width: 100%;
    padding-top: 63px;
    padding-bottom: 64px;
    border-top: 1px solid var(--light--grey)
}

.site__footer .site__logo {
    margin: 0 auto 38px
}

.site__footer .nav__list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.site__footer .nav__list li {
    padding: 10px;
    margin: 6px
}

.site__footer .nav__list li a {
    text-decoration: none;
    display: inline-block
}

.site__footer .bottom {
    padding-top: 68px
}

.site__footer .bottom ul {
    position: relative
}

.site__footer .bottom ul li {
    padding: 16px
}

.site__footer .bottom ul li a {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: var(--black)
}

.site__footer .description {
    font-family: 'e-ukraine - light';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--grey);
    margin-bottom: 8px
}

.site__btn {
    border: none;
    outline: none;
    background: 0 0;
    cursor: pointer;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--black);
    font-family: 'e-ukraine - light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px
}

.load__more--btn {
    background: var(--white);
    border: 1px solid #e7e7e7;
    padding: 12px;
    height: 48px;
    cursor: pointer
}

.site__btn.b--black {
    background: var(--white);
    border: 1px solid var(--black);
    padding: 12px 24px
}

.site__btn.b--black.notfound {
    min-width: 275px
}

.load__more--btn.fluid {
    width: 100%
}

.load__more--btn.base {
    min-width: 230px
}

.menu-icon {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background: 0 0
}

.menu-icon.menu--toogler-btn {
    background-image: url(../images/icon_menu.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.menu-icon.menu--toogler-btn.close {
    background-image: url(../images/icon_close.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.menu-icon.search--toogler--btn:hover svg path {
    fill: var(--red)
}

.menu-icon.lang--btn {
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: var(--red)
}

.menu-icon.lang--btn.active {
    color: var(--black)
}

.site__link {
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black)
}

.section--top--sm {
    padding-top: 0px
}

.section--top--xl {
    padding-top: 64px
}

.section--bottom--xl {
    padding-bottom: 72px
}

.section--bottom--l {
    padding-bottom: 48px
}

h2.section__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 16px
}

.mobile-view {
    display: none
}

h1.page__title {
    margin-bottom: 48px
}

h1.page__title.post {
    margin-bottom: 24px;
    width: 100%
}

h1.page__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: var(--black)
}

.grid--box {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.grid--box .content__box {
    width: calc(100% - 348px)
}

.grid--box aside {
    width: 300px
}

.tag__widget {
    display: flex;
    flex-wrap: wrap;
    margin-top: 59px
}

.tag__widget .tag {
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--black);
    border: 1px solid #e7e7e7;
    padding: 6px 16px;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px
}

.tag__widget .title {
    font-family: e-ukraine;
    display: block;
    font-style: normal;
    padding-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    margin-right: 20px;
    height: 32px;
    margin-bottom: 16px
}

.post_author.author__container {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.author__icon {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin-right: 16px;
    overflow: hidden;
    display: block
}

.author__container a {
    text-decoration: none
}

.post_author.author__container .author__container--name {
    margin: 0
}

.search__widget--input {
    position: relative;
    width: 100%;
    margin-bottom: 16px
}

.search__widget--input input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--black);
    font-family: 'e-ukraine - medium';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
    color: var(--black);
    padding: 13px 56px
}

.search__widget--input::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 32px;
    height: 32px;
    z-index: 1;
    background-image: url(../images/icon_search_black.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.search__widget--input .search-btn {
    position: absolute;
    right: 0;
    bottom: 16px;
    width: 32px;
    height: 32px;
    z-index: 0;
    border: none;
    outline: none;
    background: 0 0;
    cursor: pointer;
    background-image: url(../images/icon-arrow_long.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.search__widget--results {
    margin-bottom: 64px;
    min-height: 22px;
    display: flex;
    justify-content: space-between
}

.search__widget--results .side {
    width: 50%
}

.search__widget--results .side.left {
    padding-right: 20px;
    text-align: left
}

.search__widget--results .side p {
    font-family: 'e-ukraine - light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: var(--grey)
}

.search__widget--results .side p span {
    color: var(--black)
}

.search__widget--results .side.right {
    text-align: right
}

.site__divider {
    width: 100%;
    height: 1px;
    background: #e7e7e7
}

.st__border {
    border-bottom: 1px solid #e7e7e7
}

.news__feed--list {
    margin: 0;
    padding: 0;
    list-style: none
}

.news__feed--list li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid #e7e7e7
}

.news__feed--list li a {
    text-decoration: none
}

.news__feed--list li .content {
    width: calc(100% - 170px - 32px)
}

.news__feed--list li .date {
    width: 128px;
    margin-right: 24px
}

.news__feed--list li h3 {
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: var(--black)
}

.news__feed .author__container--name {
    font-family: e-ukraine;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--black)
}

.flexible--container {
    width: 100%;
    position: relative
}

.flexible--container::before {
    content: "";
    display: block;
    padding-bottom: 56%
}

.flexible--image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.flexible--image-container img {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%
}

img.flexible--image-container {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.category--list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline
}

h3.post-title {
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--black)
}

main {
    padding-top: 128px
}

.site__article {
    padding-left: 45px;
    padding-right: 45px
}

div img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100% !important;
    height: auto
}

.news__feed {
    list-style: none;
    padding: 0;
    margin: 0
}

.news__feed--item {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
    margin-bottom: 16px
}

.news__feed--item.right--oriented {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.fluid__wrapper img {
    vertical-align: middle;
    height: auto
}

.right--oriented-text {
    width: calc(100% - 48px - 24px)
}

.news__feed--item.right--oriented .fluid__wrapper {
    background: var(--grey);
    margin-bottom: 0;
    width: 48px
}

.news__feed--item.right--oriented .fluid__wrapper::before {
    padding-top: 133.32%
}

.news__feed--item:last-child {
    margin-bottom: 0;
    border-bottom: none
}

.category__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline
}

.news__feed--item a {
    text-decoration: none
}

.news__feed--item h3 {
    font-family: 'e-ukraine head - light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: var(--black)
}

.news__feed--item h3.main {
    font-family: 'e-ukraine head - medium';
    font-style: normal;
    font-weight: 500
}

.category--sections {
    padding-bottom: 16px
}

.category--sections .news__feed--item h3 {
    font-family: 'e-ukraine head - medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%
}

.widget__loader .date {
    text-transform: uppercase
}

.date {
    font-family: 'e-ukraine head - light';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: var(--grey);
    display: block
}

.category__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
}

.category {
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--grey);
    margin-right: 10px;
    margin-bottom: 4px
}

.category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none
}

.category.main {
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--black)
}

.category__list .category:not(:first-child):before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background: var(--grey);
    margin-right: 10px
}

.hero-item__widget a {
    text-decoration: none
}

.main .news__feed--item h3 {
    font-family: 'e-ukraine head - medium'
}

.news__feed--item h3 {
    font-family: 'e-ukraine head - light'
}

.hero-item__widget .main__post a h3 {
    font-family: 'e-ukraine head - medium';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
    color: var(--black)
}

.hero-item__widget .main__post {
    margin-bottom: 48px
}

.news__feed.secondary__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch
}

.news__feed.secondary__list li {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: none !important
}

.fluid__wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 16px
}

.main__post .fluid__wrapper:before {
    padding-top: 56%
}

.fluid__wrapper:before {
    content: "";
    display: block;
    padding-top: 56%
}

.fluid__wrapper .image__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover
}

.news__feed.secondary__list .news__feed--item {
    border: none;
    margin-bottom: 32px
}

.hero-item__widget.exclusive .image__wrapper {
    width: 48px;
    height: 68px
}

.hero-item__widget.exclusive .image__wrapper::before {
    display: none
}

.site__backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, .7);
    -webkit-transition: .1s;
    transition: .1s;
    touch-action: none;
    z-index: 990
}

.mob__menu--wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 991;
    left: 0;
    top: 128px;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, .7);
    overflow-x: hidden;
    transition: all .16s ease-in-out;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.mob__menu--wrapper.menu--open {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.mob__menu--content {
    position: relative;
    width: 100%;
    max-width: 300px;
    background: var(--white);
    box-shadow: 0 8px 20px rgba(0, 0, 0, .16);
    height: 100%;
    min-height: 100vh;
    padding: 16px 20px;
    overflow: auto;
    margin-bottom: 40px
}

.mob__menu--content--list {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    list-style: none
}

.mob__menu--content--list li {
    text-align: left;
    padding: 8px 0
}

.mob__menu--content--list li a {
    text-decoration: none;
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--black)
}

.page__content--wrapper {
    max-width: 892px;
    word-break: break-word
}

.page__content--wrapper h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    color: var(--black);
    margin-bottom: 32px
}

.content__container {
    position: relative;
    word-break: break-word
}

.content__container h2,
.page__content--wrapper h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000
}

.content__container p,
.content__container a {
    font-family: 'e-ukraine - light';
    font-style: normal;
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 165%
}

.content__container a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative
}

.content__container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: var(--red)
}

.content__container h2.description {
    font-family: 'e-ukraine - medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: var(--black);
    margin-bottom: 24px
}

.side__btns {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0
}

.news__feed--list.cover-change {
    position: static
}

.news__feed--list.cover-change h3 {
    padding-left: 152px
}

.fluid__wrapper.post__image {
    margin-bottom: 48px
}

.author__container {
    margin-bottom: 42px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
}

.author__container--name {
    font-family: e-ukraine;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    margin-right: 22px;
    margin-bottom: 6px
}

.author__container--pulished {
    font-family: 'e-ukraine - light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
    margin-bottom: 6px
}

.news.page__title {
    margin-bottom: 24px
}

.post__content--container {
    display: flex;
    justify-content: space-between
}

.post__content--container::after {
    content: "";
    display: block;
    width: 32px;
    margin-left: 24px;
    height: 1px;
    order: 3
}

.post__content--container .page__content--wrapper {
    order: 2;
    padding-bottom: 48px
}

.post__content--container .share__widget {
    margin-right: 24px
}

.share__widget {
    width: 32px;
    margin-right: 24px;
    order: 1;
    display: flex;
    flex-direction: column
}

.share__widget--item {
    width: 32px;
    height: 32px;
    margin-bottom: 32px;
    cursor: pointer
}

.share__widget--item {
    display: flex;
    justify-content: center;
    align-items: center
}

.share__widget--item:last-child {
    margin-bottom: 0
}

.share__widget--item svg:hover path {
    fill: #929292
}

.share__widget--item svg:active path {
    fill: #000
}

.hidden {
    overflow: hidden
}

#search {
    position: fixed;
    z-index: 999;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    background: rgba(250, 250, 250, .98);
    transition: opacity .16s, visibility .16s
}

#search.animate-search {
    opacity: 1;
    visibility: visible
}

.search__wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.search-form__wrapper {
    padding: 0 20px;
    width: 100%;
    max-width: 1000px
}

.search-form {
    position: relative;
    display: flex;
    align-items: center
}

.search-form input {
    width: 100%;
    padding: 24px 76px 24px 32px;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .16);
    font-family: e-ukraine;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px
}

.search-form button {
    content: "";
    display: inline-block;
    width: 42px;
    cursor: pointer;
    background: 0 0;
    border: none;
    outline: none;
    height: 42px;
    z-index: 0;
    background-image: url(../images/searchicon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 32px
}

#search .site__logo {
    top: 72px;
    width: 100%;
    max-width: 226.3px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

.search-form input::placeholder {
    color: var(--grey)
}

.search-close {
    position: absolute;
    top: 48px;
    right: 48px;
    width: 32px;
    height: 32px
}

.menu-icon.menu--toogler-btn.search-close {
    background-image: url(../images/search_icon_close.svg)
}

.site__article {
    padding-left: 45px;
    padding-right: 45px
}

.post-page .author__container--name {
    margin-right: 10px !important
}

.wrapper.notfound {
    margin: 110px 0
}

.notfound h1 {
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: var(--black);
    margin-bottom: 48px
}

.notfound h2 {
    font-family: e-ukraine;
    font-style: normal;
    font-weight: 400;
    font-size: 228px;
    line-height: 100%;
    text-align: center;
    color: var(--black);
    margin-bottom: 32px
}

.notfound .description {
    font-family: e-ukraine;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 64px;
    color: var(--black)
}

.page__content--wrapper p,
.page__content--wrapper a {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 165%
}

.news__feed--list.cover-change .fluid__wrapper {
    width: 170px;
    margin-bottom: 0
}

.category__wrapper.reverse .date {
    order: 1
}

.category__wrapper.reverse .category__list {
    order: 2
}

.author__container--pulished {
    position: relative;
    padding-left: 10px
}

.author__container--pulished::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: var(--grey);
    display: inline-block;
    left: 0;
    top: 12px;
    margin-right: 10px
}

.blog__page {
    width: 100%
}

.blog__page--cover {
    width: 100%;
    max-width: 1272px;
    margin: 0 auto
}

.blog__page--cover .fluid__wrapper {
    margin-bottom: 0;
    position: static
}

.langs--list a {
    text-decoration: none
}

.fluid__wrapper.blog__image {
    position: relative
}

.fluid__wrapper.blog__image::before {
    padding-top: 50.31% !important
}

.blog__title--wrapper {
    width: 100%;
    position: relative;
    z-index: 3;
    max-width: 1072px;
    min-height: 152px;
    margin: 0 auto;
    background: var(--white);
    margin-top: -152px;
    padding: 40px 54px 0
}

.blog__title--wrapper .date {
    font-family: 'e-ukraine - light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey)
}

.blog__conent--wrapper {
    width: 100%;
    max-width: calc(1272px + 32px);
    padding: 0 16px;
    margin: 0 auto;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    padding-top: 48px
}

.blog__conent--wrapper .content--box {
    width: 100%;
    max-width: 720px;
    min-height: 600px
}

.blog__conent--wrapper .content--author {
    width: 100%;
    max-width: 300px
}

.blog__conent--wrapper .content--author .icon {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-bottom: 24px;
    overflow: hidden
}

.blog__conent--wrapper .content--author .icon img {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.blog__conent--wrapper .content--author .details {
    width: 100%;
    display: flex;
    flex-direction: column
}

.blog__conent--wrapper .content--author .details a {
    text-decoration: none;
    color: var(--black)
}

.blog__conent--wrapper .content--author .name {
    font-family: e-ukraine;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
    margin-bottom: 16px
}

.blog__conent--wrapper .content--author .description {
    font-family: 'e-ukraine - light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey)
}

.blog__conent--wrapper .share__widget--box {
    margin-right: 56px
}

.blog__conent--wrapper .share__widget--box .share__widget {
    margin-right: 0
}

.content--side {
    width: calc(100% - 300px);
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px
}

.content--side::after {
    display: block;
    content: "";
    width: 32px;
    height: 32px
}

.fluid__wrapper img {
    object-fit: fill
}

.styled__qoute {
    width: 100%;
    position: relative;
    padding-left: calc(48px + 32px)
}

.styled__qoute::before {
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    background-image: url(../images/quote.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    display: block
}

.styled__qoute blockquote p {
    font-family: merriweather;
    font-style: italic;
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 140%;
    color: var(--black);
    margin-bottom: 32px
}

.styled__qoute figcaption img {
    display: block;
    width: 56px;
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover
}

.styled__qoute figcaption .author {
    font-family: e-ukraine;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--black)
}

.styled__qoute figcaption {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--black)
}

.styled__qoute figcaption cite {
    font-family: 'e-ukraine - light';
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: var(--grey)
}

.site__header .site__logo {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

.post-page .post-page--top {
    padding-left: 45px;
    padding-right: 45px
}

.post-page .post-page--bottom {
    padding-left: 45px;
    padding-right: 45px
}

.hero-item__widget.materials h3 {
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--black)
}

.widget__loader {
    width: 100%;
    position: relative;
    margin-top: -20px;
    padding-top: 20px
}

.widget__loader--wrapper {
    width: 100%;
    position: relative;
    max-height: 1240px
}

.widget__loader::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 20px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), var(--white))
}

.widget__loader::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 28px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff)
}

#loader {
    margin-bottom: 4px;
    overflow-y: hidden
}

#loader::-webkit-scrollbar {
    width: 4px
}

#loader::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px
}

#loader::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px
}

#loader::-webkit-scrollbar-thumb:hover {
    background: var(--grey)
}

.category__wrapper.loader--category {
    align-items: flex-start
}

.loader--category .category__list .load-category {
    font-family: e-ukraine head;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #929292;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4px;
    text-decoration: none;
    margin-right: 4px
}

.loader--category .category__list .load-category.main {
    color: var(--black)
}

.loader--category .category__list .load-category::before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background: var(--grey);
    margin-right: 10px
}

.category__wrapper .date {
    margin-right: 10px;
    margin-bottom: 4px
}

a h3 {
    transition: all .2s ease-in-out
}

a h3:hover {
    color: var(--red) !important
}

.site__link {
    transition: all .2s ease-in-out
}

.site__link:hover {
    color: var(--red) !important
}

.image__container--square {
    width: 48px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover
}

.image__container--square::after {
    content: "";
    display: block;
    padding-top: 100%
}

::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey)
}

.page__content--wrapper img {
    height: auto
}

.author__container--name a {
    color: inherit
}

.test-f {
    display: none
}

.shownow {
    display: block !important
}

.page__content--wrapper ol,
.page__content--wrapper ul {
    padding-left: 20px
}

.author__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.share__widget--item a {
    width: 100%;
    min-height: 100%
}

.post_author.author__container .author__container--name {
    font-size: 14px
}

.category__list.top {
    margin-top: 9px;
    margin-bottom: 3px
}

.p-center {
    text-align: center
}

.pagination {
    display: inline-block
}

.pagination a {
    color: #000;
    float: left;
    font-family: e-ukraine;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 20px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
    margin: 0 4px
}

.pagination a:hover {
    border: 1px solid #e7e7e7
}

.pagination a.active {
    border: 1px solid #000
}

.pagination a:hover:not(.active) {
    text-decoration: none
}

.pagination a:visited {
    border: 1px solid #e7e7e7
}

.pagination .nav-arrow {
    border: 1px solid #e7e7e7;
    padding: 0;
    max-width: 48px;
    padding: 16.3px
}

.pagination .nav-arrow.disabled svg path {
    fill: #e7e7e7
}

.tag::after {
    display: none
}

a.disabled {
    pointer-events: none
}

@media screen and (max-width:767px) {
    .pagination a {
        font-size: 14px;
        line-height: 16px;
        padding: 8px 12px
    }
    .pagination .nav-arrow {
        border: 1px solid #e7e7e7;
        padding: 0;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 32px;
        height: 34px
    }
}

.page__content--wrapper a,
.page__content--wrapper p {
    font-family: 'Manrope';
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 165%
}

.page__content--wrapper a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative
}

.page__content--wrapper a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: var(--red)
}

blockquote a::after {
    display: none
}

#blogs {
    padding-bottom: 48px
}

.page__content--wrapper iframe {
    max-width: 100% !important
}

.page__content--wrapper,
.content--box .content__container {
    font-family: 'Manrope';
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 165%
}

.content--box .content__container ol,
.content--box .content__container ul {
    padding-left: 30px
}

div.admin-dashboard {
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: var(--black);
    position: absolute;
    z-index: 1500
}

div.admin-dashboard .site__container {
    height: 100%
}

.admin-list {
    list-style: none;
    margin: 0;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    height: 100%
}

.admin-list::-webkit-scrollbar {
    display: none
}

.admin-list {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.admin-list li {
    padding-right: 6px;
    display: inline-block;
    color: var(--white);
    font-size: 12px;
    margin-right: 6px
}

.admin-list li a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center
}

.admin-list li a>div.dashboard-icon {
    margin-right: 4px;
    width: 14px
}

.root-wrapper {
    position: relative
}

@media screen and (max-width:1340px) {
    .site__header {
        padding-left: 8px;
        padding-right: 8px
    }
}

@media screen and (max-width:1200px) {
    #blogs {
        padding-bottom: 16px
    }
    .news__feed--list.cover-change h3 {
        padding-left: 0
    }
    .widget__grid--side--content.post__container h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%
    }
    .notfound h1 {
        font-size: 24px
    }
    .notfound h2 {
        font-size: 140px;
        margin-bottom: 24px
    }
    .notfound .description {
        font-size: 14px;
        margin-bottom: 32px
    }
    .wrapper.notfound {
        margin: 48px 0
    }
    .post__content--container::after {
        display: none
    }
    .hero-item.hero-2 .separator {
        display: block
    }
    .news__feed--list.cover-change .content .category__wrapper.reverse .date {
        margin-right: 8px !important;
        width: auto
    }
    .category__wrapper.reverse .date {
        order: 2
    }
    .category__wrapper.reverse .category__list {
        order: 1
    }
    #news_feed_category .category__list .category:not(:first-child)::after {
        content: "";
        display: block;
        width: 2px;
        height: 2px;
        background: var(--grey);
        margin-left: 10px
    }
    .news__feed--list.cover-change .fluid__wrapper {
        width: 48px;
        background: var(--grey);
        margin-top: 28px
    }
    .news__feed--list.cover-change .fluid__wrapper img {
        object-fit: cover;
        width: 100%;
        height: 100%
    }
    .news__feed--list.cover-change .fluid__wrapper::before {
        padding-top: 133.32%
    }
    .news__feed--list li .content {
        width: calc(100% - 48px - 24px)
    }
    .post__content--container {
        flex-direction: column
    }
    .post__content--container .page__content--wrapper {
        order: 1
    }
    .post__content--container .share__widget {
        order: 2;
        width: auto;
        flex-direction: row;
        align-items: center;
        margin-right: 0;
        margin-bottom: 48px
    }
    .post__content--container .share__widget .share__widget--item {
        margin-bottom: 0;
        margin-right: 32px
    }
    .post__content--container .share__widget .share__widget--item:last-child {
        margin-right: 0
    }
    .site__header .site__container {
        max-width: 100%
    }
    .hero-item.xl {
        width: 100%;
        padding-top: 0
    }
    .hero-item.sm {
        width: 50%
    }
    .hero-1 {
        order: 2 !important
    }
    .hero-2 {
        order: 1 !important
    }
    .hero-3 {
        order: 3
    }
    .search__widget--results {
        margin-bottom: 64px;
        min-height: 22px;
        display: flex;
        justify-content: space-between;
        flex-direction: column
    }
    .search__widget--results .side {
        width: 100%
    }
    .search__widget--results .side.left {
        margin-bottom: 16px;
        padding-right: 0
    }
    .search__widget--results .side.right {
        text-align: left
    }
    .grid--box {
        flex-direction: column
    }
    .grid--box .content__box {
        width: 100%
    }
    .grid--box aside {
        padding-top: 48px;
        width: 100%
    }
    .widget__grid {
        flex-direction: column
    }
    .widget__grid.oriented-right {
        flex-direction: column-reverse
    }
    .widget__grid--side {
        width: 100%
    }
    .site__container {
        max-width: 740px
    }
    .widget__grid--side--content.post__container {
        margin-bottom: 32px
    }
    .category--sections {
        padding-bottom: 0
    }
    .post-page .author__container {
        margin-bottom: 28px
    }
    .post-page .post-page--bottom {
        padding-left: 45px;
        padding-right: 45px
    }
    .post-page .post-page--bottom .site__container {
        max-width: 100%
    }
    .post-page .post-page--bottom .content--box {
        width: 100%;
        border-bottom: 1px solid var(--grey)
    }
    .post-page .post-page--bottom aside {
        max-width: 752px;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
        margin: 0 auto
    }
    .post__content--container {
        max-width: 752px;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
        margin: 0 auto
    }
    .blog__conent--wrapper {
        flex-direction: column-reverse;
        padding-top: 32px;
        align-items: flex-start;
        padding-left: 54px;
        padding-right: 54px
    }
    .site__container.laptop--fluid {
        max-width: 100%;
        padding: 0
    }
    .blog__conent--wrapper {
        max-width: 1072px
    }
    .blog__conent--wrapper .content--author {
        max-width: 720px
    }
    .content--side {
        width: 100%;
        max-width: 100%;
        flex-direction: column-reverse;
        padding-left: 0;
        padding-right: 0
    }
    .content--side::after {
        display: none
    }
    .blog__conent--wrapper .content--author {
        margin-bottom: 48px
    }
    .blog__conent--wrapper .share__widget--box {
        width: 100%;
        max-width: 720px;
        margin: 0
    }
    .blog__conent--wrapper .share__widget--box .share__widget {
        width: auto;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 32px
    }
    .blog__conent--wrapper .share__widget--box .share__widget .share__widget--item {
        margin-right: 32px
    }
    .blog__conent--wrapper .content--author {
        flex-direction: row;
        display: flex
    }
    .blog__conent--wrapper .content--author .icon {
        width: 48px;
        height: 48px;
        margin-bottom: 0;
        margin-right: 16px
    }
    .blog__conent--wrapper .content--author .name {
        margin-bottom: 8px;
        font-size: 16px
    }
    .blog__conent--wrapper .content--author .description {
        font-size: 12px
    }
    .blog__title--wrapper .date {
        font-size: 14px
    }
    .flexible--container.mobile-wide::before {
        padding-bottom: 43.9%
    }
    .fluid__wrapper.mobile-wide::before {
        padding-top: 43.9%
    }
    .flexible--container.mobile-wide img {
        width: 100%;
        object-fit: cover;
        height: 100%
    }
    .fluid__wrapper.mobile-wide img {
        width: 100%;
        object-fit: cover;
        height: 100%
    }
    .section--bottom--xl {
        padding-bottom: 48px
    }
    .section--top--xl {
        padding-top: 32px
    }
    .pb--mobile {
        padding-bottom: 48px
    }
}

@media screen and (max-width:991px) {
    .search__widget--input::before {
        top: 10px
    }
    .search__widget--input .search-btn {
        bottom: 12px
    }
    .search__widget--input input {
        font-size: 20px;
        line-height: 140%
    }
    .section--top--sm.search {
        padding-top: 20px !important
    }
    .search__widget--results {
        margin-bottom: 40px
    }
    .search__widget--results .side.left {
        margin-bottom: 8px
    }
    .languge--switcher.desctope {
        display: none
    }
    .fluid__wrapper.post__image {
        margin-bottom: 32px
    }
    h1.page__title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 24px
    }
    h1.page__title.post {
        margin-bottom: 16px
    }
    .page__content--wrapper p,
    .page__content--wrapper a {
        font-family: 'Manrope';
        font-weight: 300 !important;
        font-size: 16px !important;
        line-height: 165%
    }
    .content__container p,
    .content__container a {
        font-family: 'e-ukraine - light';
        font-weight: 300 !important;
        font-size: 16px !important;
        line-height: 165%;
        font-style: normal
    }
    .post-page--top .site__container {
        max-width: 720px
    }
    .post-page .post-page--top {
        padding: 0
    }
    .post-page .post-page--bottom {
        padding: 0
    }
    .post-page .post-page--bottom .site__container {
        padding: 0
    }
    .blog__title--wrapper {
        margin-top: 0;
        padding-top: 24px
    }
    .blog__conent--wrapper .content--author {
        margin-bottom: 48px
    }
    .hero-item__widget .main__post {
        margin-bottom: 16px;
        padding-bottom: 16px
    }
    .hero-item__widget.main .news__feed.secondary__list .news__feed--item {
        margin-bottom: 16px;
        padding-bottom: 0
    }
    .hero-item__widget.main .news__feed.secondary__list {
        padding-bottom: 16px
    }
    .site__article.post-page {
        padding-left: 8px;
        padding-right: 8px
    }
    .site__article.post-page .author__container {
        margin-bottom: 28px
    }
    .site__article.post-page .author__container .author__container--name,
    .site__article.post-page .author__container .author__container--pulished {
        font-size: 14px
    }
    .site__article.post-page .author__container .author__container--name {
        margin-right: 8px
    }
    .site__article.post-page .fluid__wrapper.post__image {
        margin-bottom: 32px
    }
    .site__article.post-page aside {
        padding-top: 48px;
        border-top: 1px solid var(--light--grey)
    }
    main {
        padding-top: 56px
    }
    .site__article {
        padding-left: 28px;
        padding-right: 28px
    }
    .section--top--sm {
        padding-top: 24px
    }
    .mobile-view {
        display: block
    }
    #menu--toogler {
        position: absolute;
        left: 0
    }
    .site__header .top {
        position: relative;
        padding-left: 64px;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%
    }
    .site__header {
        height: 56px
    }
    .mob__menu--wrapper {
        top: 56px
    }
    .site__header .site__logo {
        max-width: 113.14px
    }
    .site__header .site__container {
        height: 100%
    }
    .site__header .bottom {
        display: none
    }
    .site__header .top .search--toogler--btn.mobile {
        display: block
    }
    .side__btns .search--toogler--btn {
        margin-left: 16px
    }
}

@media screen and (max-width:768px) {
    .blog__conent--wrapper {
        padding-left: 16px;
        padding-right: 16px
    }
    .blog__title--wrapper {
        padding-left: 16px;
        padding-right: 16px
    }
    .styled__qoute {
        padding-left: calc(32px + 16px)
    }
    .styled__qoute::before {
        width: 32px;
        height: 32px
    }
    .site__header .site__logo {
        margin: 0 auto
    }
    .site__footer .description {
        text-align: left
    }
    .site__footer .bottom .nav__list {
        flex-direction: column;
        align-items: flex-start
    }
    .site__footer {
        padding-left: 16px;
        padding-right: 16px
    }
    .site__footer .bottom {
        padding-top: 38px
    }
    .post__content--container .tag__widget {
        margin-top: 51px
    }
    .site__container {
        max-width: unset;
        margin: unset;
        padding-left: unset;
        padding-right: unset
    }
    .site__container .category__list.top,
    .site__container .post.page__title,
    .site__container .author__container,
    .site__container .grid--box .hero-item__widget {
        padding-left: 16px;
        padding-right: 16px
    }
    .site__container .grid--box .content__box .post__content--container {
        max-width: unset
    }
    .site__footer .site__logo {
        margin-left: 0
    }
    .site__footer .bottom .nav__list li {
        padding: 10px 0;
        margin: 0
    }
    .site__footer .bottom .nav__list li:last-child {
        padding-bottom: 0
    }
    .site__footer .description {
        margin-bottom: 38px
    }
    .site__article {
        padding-left: 16px;
        padding-right: 16px
    }
    .site__article .site__row {
        margin-left: 0;
        margin-right: 0
    }
    .news__feed.secondary__list li {
        padding-left: 5px;
        padding-right: 5px
    }
}

@media screen and (max-width:600px) {
    .site__article .site__row .hero-item,
    .category--sections .widget__grid--side,
    .news__feed.secondary__list li {
        padding-left: 0;
        padding-right: 0
    }
    .page__content--wrapper,
    .content--box .content__container {
        font-family: 'Manrope';
        font-weight: 300 !important;
        font-size: 16px !important;
        line-height: 165%
    }
    .post-page .author__container,
    .post-page .author__container--pulished {
        font-size: 14px;
        line-height: 24px
    }
    .hero-item__widget main .news__feed.secondary__list li.news__feed--item::not(:last-child) {
        border-bottom: 1px solid var(--light--grey)
    }
    #hero .hero-item.xl.hero-2 .site__row {
        margin-left: 0;
        margin-right: 0
    }
    #hero .hero-item.xl.hero-2 .site__row .news__feed.secondary__list li.news__feed--item {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 16px;
        border-bottom: 1px solid #e7e7e7;
        display: flex;
        justify-content: space-between;
        align-items: flex-start !important
    }
    #hero .hero-item.xl.hero-2 .site__row .news__feed.secondary__list li.news__feed--item .fluid__wrapper.mobile-wide {
        margin-bottom: 0
    }
    #hero .hero-item.xl.hero-2 .site__row .news__feed.secondary__list li.news__feed--item:last-child {
        border-bottom: none;
        margin-bottom: 0 !important
    }
    .content__container h2 {
        font-size: 20px
    }
    .news__feed--list.cover-change .content a h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%
    }
    .news__feed--list.cover-change li {
        padding-bottom: 15px;
        margin-bottom: 16px
    }
    .hero-item__widget .main__post a h3 {
        font-size: 16px;
        line-height: 150%
    }
    .widget__grid--side {
        margin-bottom: 0
    }
    .hero-item.hero-1 .separator {
        margin-top: 32px;
        display: block
    }
    .news__feed.secondary__list li {
        width: 100% !important
    }
    .hero-item.sm {
        width: 100%
    }
    .hero-item__widget .main__post {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid var(--light--grey)
    }
    #blogs .news__feed.secondary__list .news__feed--item {
        margin-bottom: 32px
    }
    #ukraine .news__feed.secondary__list .news__feed--item {
        margin-bottom: 32px
    }
    .news__feed.secondary__list .news__feed--item {
        margin-bottom: 16px
    }
    #world {
        padding-top: 32px;
        padding-bottom: 40px
    }
    #world .news__feed.secondary__list .news__feed--item {
        margin-bottom: 32px
    }
    .search-close {
        top: 32px;
        right: 32px
    }
    #search .site__logo {
        max-width: 160px
    }
    .site__footer .top .nav__list li {
        width: 50%;
        padding: 10px 0;
        margin: 0
    }
    .hero-item__widget.main .news__feed.secondary__list .fluid__wrapper.mobile-wide {
        width: 48px;
        margin-top: 24px;
        max-height: 64px
    }
    .hero-item__widget.main .news__feed.secondary__list .news__feed--item {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between
    }
    .hero-item__widget.main .news__feed.secondary__list .news__feed--item .wrapper {
        width: calc(100% - 48px - 24px);
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 0
    }
    .hero-item__widget.main .news__feed.secondary__list .news__feed--item .wrapper>a {
        display: block;
        padding: 0;
        margin: 0
    }
    .hero-item__widget.main .news__feed.secondary__list .fluid__wrapper.mobile-wide::before {
        padding-top: 133.33% !important
    }
    .search-form input {
        padding: 20px 60px 20px 24px;
        font-size: 20px;
        line-height: 40px
    }
    .search-form button {
        width: 32px;
        height: 32px;
        right: 24px
    }
    .styled__qoute blockquote p {
        font-size: 20px !important;
        line-height: 28px
    }
}

@media screen and (max-width:479px) {
    .search-close {
        top: 24px;
        right: 24px
    }
}